.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.header{
  background-image: url(../public/assets/banner.png);
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header h1{
  color: #f3f3f3;
  text-transform: uppercase;
  text-shadow: 0px 3px 1px #da6a20;
  font-size: 50px;
}

.header p{
  width: 40%;
  font-size: 20px;
  color: rgb(255, 72, 0);
}

.busca-e-filtragem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  flex-wrap: wrap;
  margin: 50px 0px;
}

.btns{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f3f3f3;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  gap: 15px;
  transition: 0.5s ease;
}

.btns:hover{
  background-color: #daa520;
}

.btns img{
  width: 30px;
}

#buscaMenu{
  background-image: url(../public/assets/lupa.png);
  background-position: left 12px center;
  background-repeat: no-repeat;
  background-size: 30px;
  width: 60%;
  height: 50px;
  padding: 5px 50px;
  border: 3px solid #c7c7c7;
  border-radius: 15px;
}

.listagem-cardapio h2{
  margin: 30px;
  font-size: 30px;
}

.cardapio{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0px 50px 70px 50px;
}

@media (max-width: 1064px) {
  .App {
    text-align: center;
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  
  .header{
    background-image: url(../public/assets/banner.png);
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .header h1{
    color: #f3f3f3;
    text-transform: uppercase;
    text-shadow: 0px 3px 1px #da6a20;
    font-size: 40px;
  }
  
  .header p{
    width: 60%;
    font-size: 18px;
    color: rgb(255, 72, 0);
  }
  
  .nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 80%;
    flex-wrap: wrap;
    margin: 50px 0px;
  }

  
  .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    gap: 15px;
    transition: 0.5s ease;
  }
  
  .btns:hover{
    background-color: #daa520;
  }
  
  .btns img{
    width: 30px;
  }
  
  #buscaMenu{
    background-image: url(../public/assets/lupa.png);
    background-position: left 12px center;
    background-repeat: no-repeat;
    background-size: 30px;
    width: 60%;
    height: 50px;
    padding: 5px 50px;
    border: 3px solid #c7c7c7;
    border-radius: 15px;
  }
  
  .listagem-cardapio h2{
    margin: 30px;
    font-size: 30px;
  }
  
  .cardapio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0px 50px 70px 50px;
  }
}

@media (max-width: 732px) {
  .App {
    text-align: center;
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  
  .header{
    background-image: url(../public/assets/banner.png);
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .header h1{
    color: #f3f3f3;
    text-transform: uppercase;
    text-shadow: 0px 3px 1px #da6a20;
    font-size: 35px;
  }
  
  .header p{
    width: 75%;
    font-size: 16px;
    color: rgb(255, 72, 0);
  }
  
  .nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 90%;
    flex-wrap: wrap;
    margin: 50px 0px;
  }
  
  .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    gap: 15px;
    transition: 0.5s ease;
  }
  
  .btns:hover{
    background-color: #daa520;
  }
  
  .btns img{
    width: 30px;
  }
  
  #buscaMenu{
    background-image: url(../public/assets/lupa.png);
    background-position: left 12px center;
    background-repeat: no-repeat;
    background-size: 30px;
    width: 50%;
    height: 50px;
    padding: 5px 50px;
    border: 3px solid #c7c7c7;
    border-radius: 15px;
  }
  
  .listagem-cardapio h2{
    margin: 30px;
    font-size: 25px;
  }
  
  .cardapio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0px 50px 70px 50px;
  }
}